.DS_Store
node_modules
.turbo
*.log
.next
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dist
dist-ssr
*.local
.env
.cache
server/dist
public/dist
storybook-static/
*.tgz
.vitest-preview
vite.config.ts.timestamp*
stats.html
build-storybook.log
.env
.env.local
storybook-static
coverage/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.copy
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local Netlify folder
.netlify


# 
*.backup

/apps/showcase/stats.html
/apps/example/stats.html
